<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars Dashboard</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get latest Mars Data!</a></p>
    </div>

    <!-- Mars Info -->
    <div class="row" id="news_article">
      <div class="col-md-12">
            <h4 class="heading">Latest News</h4>
            <h5>{{mars_stuff.news_title}}</h5>
            <p>{{mars_stuff.news_p}}</p>
      </div>
    </div>

    <div class="row" id=second_row>
      <div class="col-md-8">
            <h5>Featured Mars Image</h5>
            <img src="{{mars_stuff.featured_img_url}}" class="img-responsive">

      </div>
      <div class="col-md-4">
            {{mars_stuff.table|safe}}
      </div>
    </div>

    <div class="row" id="hemispheres">
      <div class="col-md-12">
        <h4>Mars Hemispheres</h4>
      </div>
    <div class="row" id="hemispheres_1">
      <div class="col-md-6">
        <img src="{{mars_stuff.hemispheres[0]['img_url']}}" class="img-responsive">
        <h6>{{mars_stuff.hemispheres[0]['title']}}</h6>
      </div>
      <div class="col-md-6">
        <img src="{{mars_stuff.hemispheres[1]['img_url']}}" class="img-responsive">
        <h6>{{mars_stuff.hemispheres[1]['title']}}</h6>
      </div>
    </div>
    <div class="row" id="hemispheres_2">
      <div class="col-md-6">
        <img src="{{mars_stuff.hemispheres[2]['img_url']}}" class="img-responsive">
        <h6>{{mars_stuff.hemispheres[2]['title']}}</h6>
      </div>
      <div class="col-md-6">
        <img src="{{mars_stuff.hemispheres[3]['img_url']}}" class="img-responsive">
        <h6>{{mars_stuff.hemispheres[3]['title']}}</h6>
      </div>
    </div>
      </div>
    </div>

        
    
    

  </div>
</body>

</html>