<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars Dashboard</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get latest Mars Data!</a></p>
    </div>

    <!-- Mars Info -->
    <div class="row" id="news_article">
      <div class="col-md-12">
            <h2 class="heading">Latest News</h2>
            <h4>{{mars_stuff.news_title}}</h4>
            <p>{{mars_stuff.news_p}}</p>
      </div>
    </div>

    <div class="row" id=second_row>
      <div class="col-md-8">
            <h2>Featured Mars Image</h2>
            <img src="{{mars_stuff.featured_img_url}}" class="img-responsive">

      </div>
      <div class="col-md-4">
        <h2>Mars Facts</h2>
            {{mars_stuff.table|safe}}
      </div>
    </div>

    <div class="row" id="hemispheres">
      <div class="col-md-12">
        <h2>Mars Hemispheres</h2>
      </div>
        
    <div class="row">
      {% for hemisphere in mars_stuff.hemispheres %}
      <div class="col-md-6">
        <img src="{{hemisphere.img_url | default('static/images/error.png', true)}}" alt="..." class="img-responsive">
        <div class="caption">
          <h3>{{hemisphere.title}}</h3>
        </div>
      </div>
      {% endfor %}
    </div>
    

  </div>
</body>

</html>